body{
    color : red;
    background-color: white;
}

.heading {
    width : 80%;
    font-size: 20px;
}

.name_of_objects,#result_object_name,#result_object_accuracy{
    color: cyan;
}

#camera {
    border: 2px dashed black;
    width : 350px;
    height : 300px;
}